// Text Coloring

// App Background

$clr-violet-050: hsl(270, 20%, 96%);

// Sub-heading at the top of the app UI

$clr-violet-100: hsl(276, 100%, 81%);

// Paragraph

$clr-violet-200: hsl(270, 7%, 64%);

// Chat on the right

$clr-violet-300: hsl(271, 15%, 43%);

// Chat on the left bubble color

$clr-violet-350: #ede5f4;

// Chat on the left

$clr-violet-400: hsl(276, 55%, 52%);

// Main Heading

$clr-violet-800: hsl(271, 36%, 24%);

// Submit button background

$clr-violet-900: hsl(271, 36%, 24%);

// Placeholder text

$clr-blue-100: hsl(206, 6%, 79%);

// Radio button outline

$clr-magenta-200: hsl(289, 100%, 72%);

// Neutral

$clr-white: hsl(0, 0%, 100%);